.room-details-page {
    .room-images {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .main-image-container {
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .main-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;

        }
      }
  
      .thumbnails {
        display: flex;
        gap: 10px;
  
        .thumbnail {
          width: 80px;
          height: 80px;
          object-fit: cover;
          cursor: pointer;
          border-radius: 8px;
          border: 2px solid transparent;
  
          &:hover {
            border-color: #333;
          }
        }
      }
    }
  
    .room-info {
      margin-top: 20px;
      text-align: center;
  
      h3 {
        margin-bottom: 10px;
      }
  
      p {
        margin-bottom: 5px;
      }
    }
  }
  