@import '../../assets/styles/vars.scss';

.special-offer-container {
    padding: 20px;
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .special-offer-container h2 {
    margin-bottom: 20px;
  }
  
  .special-offer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .special-offer-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .special-offer-item .room-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .offer-details {
    padding: 15px;
  }
  
  .offer-details h3 {
    margin-top: 0;
    margin-bottom: 3px;
  }
  
  .city-name{
    margin: 0;
  }
  
  .room-info-name {
    margin: 0 !important;
  }
  
  .room-info p {
    margin: 5px 0;
  }
  