* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: #216ba5;
    color: #fff;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    padding: 2px;
    font-size: 13px;

}

