* {
    margin: 0;
    padding: 0;
    /* background-color: #f5f5dc; */
}

html {
    margin: 0;
    padding: 0;
}

.react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: #1a3d7c  ;
    color: #f4f4f4;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 2px;
    font-size: 15px;

}

.css-hlgwow{
    cursor: pointer;
}

.btn{
    background-color: #1a3d7c !important;
}

