// $primary-color: #1a3d7c;
// $second-color : #ffcc00;
// $light-color: #f4f4f4;
$primary-color: #004643;
$second-color: #F4A261;
$light-color: #E9F7EF;
$text-color: #333;
$box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
