@import '../../assets/styles/vars.scss';

.faq-section {
    padding: 50px 0;
    text-align: center;
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 30px;
      color: $primary-color;
    }
  
    .faq-list {
      max-width: 800px;
      margin: 0 auto;
  
      .faq-item {
        margin: 20px 0;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &.active {
          background-color: $primary-color;
          color: #fff;
  
          .faq-answer {
            display: block;
          }
        }
  
        .faq-question h3 {
          margin: 0;
          font-size: 1.5rem;
        }
  
        .faq-answer {
          display: none;
          margin-top: 10px;
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
  